{%extends 'base.html'%}
{%block content%}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">Log out</a>
          </li>
        
          
          
        </ul>
      </div>
    </div>
  </nav>
  <div class="form-group">
    
    {{username}}

</div>
  <div class="container">
    <img src="https://blog.bonus.ly/hubfs/welcome.png" height="545"  >
  </div>
     <!-- Copyright -->
     <footer>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white"href="#" >taskslists.com</a>
      </div>
      <!-- Copyright -->
    </footer>

{%endblock%}