{%extends 'base.html'%}

{%block content%}


<div class="card bg-light p-3">
  <form method="post">
    <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="">
        <small id="emailHelpId" class="form-text text-muted">Enter your task name</small>
      </div>
      <!-- <div class="form-group">
        <label for="status">status</label>
        <input type="text" class="form-control" name="status" id="status" placeholder="">
        <small id="emailHelpId" class="form-text text-muted">Enter the status </small>
      </div>
      <div class="form-group">
        <label for="priority">priority</label>
        <input type="text" class="form-control" name="priority" id="priority" placeholder="">
        <small id="emailHelpId" class="form-text text-muted">Enter priority</small>
      </div> -->
      <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" name="description" id="description" placeholder="">
        <small id="emailHelpId" class="form-text text-muted">Enter description</small>
      </div>
      <button class="btn btn-primary" herf="{{url_for('add')}}" type="submit">Add New task</button>
</form> 
</div>
{%endblock%}